.avatar {
    max-width: 300px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("./pics/forest3.jpg");
}

#subscribed_channels {
    max-width: 960px;
    margin: auto;
}

h1, h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #044e24;
}

button, #submit_button {
    transition-duration: 0.4s;
    border: 2px solid #044e24; /* Green */
}

button:hover {
    background-color: #044e24; /* Green */
    color: white;
}